@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  * {
    outline: none;
  }

  body {
    background-image: linear-gradient(to bottom, #fcfcfc, #e7eaed);
    font-family: 'Poppins', sans-serif;
  }
}
